body {
    color: rgb(34, 33, 33);
    text-align: center;
    font-family: Arial;
    font-style: 15px;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 20%;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.cabecera {
    padding: 0;
    margin: 0;
    background-color: aquamarine;
}

.post h1 {
    font-size: 20px;
}